#cell-viewer h4 {
  font-family: 'Merriweather Sans';
  font-weight: 700;
  font-size: 1.125rem;
}

#cell-viewer p {
  font-family: 'Overpass-Light';
  font-weight: 300;
  font-size: 1rem;
}

html,
body,
#cell-viewer {
  height: 100%;
  width: 100%;
  display: flex;
  font-family: 'Overpass';
}

.cell-viewer-app {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}

.cell-viewer-app .header-wrapper {
  z-index: 99;
  box-shadow: 0px 0px 3px 0px grey;
  position: relative;
}

.cell-viewer-app .cell-viewer-wrapper {
  right: 0;
  flex: 10 0px;
  order: 2;
  position: relative;
  display: flex;
  overflow: hidden;
}

.control-panel .noUi-handle,
.control-panel .noUi-horizontal .noUi-handle {
  box-shadow: none;
  box-sizing: border-box;
  position: absolute;
  cursor: pointer;
  pointer-events: inherit;
  top: 0px;
  left: 4.94876%;
  z-index: 1;
  margin: 1px 0px 0px;
  width: 12px;
  height: 12px;
  background-color: #0b9aab;
  background-clip: padding-box;
  border: 0px solid transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, border-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, width 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, height 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  overflow: visible;
  outline: none;
}

.control-panel .noUi-horizontal {
  height: 2px;
}

.control-panel .axis-slider .noUi-horizontal {
  height: 4px;
}

.control-panel .noUi-target {
  border: none;
}

.control-panel .axis-slider .noUi-handle:before,
.control-panel .noUi-handle:before,
.control-panel .noUi-handle:after,
.control-panel [disabled].axis-slider .noUi-handle:after,
.control-panel .noUi-handle:after,
.control-panel .axis-slider .noUi-handle:after,
.control-panel .noUi-handle:after,
.control-panel .noUi-handle:before {
  display: none;
  content: none;
}

.drawer-closed .control-panel {
  width: 0;
  min-width: 0px;
}

.control-panel {
  flex-direction: column;
  display: flex;
  flex: 1 auto;
  order: 1;
  overflow-y: scroll;
  min-width: 400px;
  border-right: 0.5px solid #D0D8DB;
}

.control-panel .card-title {
  padding: 2px;
}

@media only screen and (max-width: 800px) {
  .control-panel {
    max-width: 370px;
  }
}

.cell-viewer-wrapper .clip-sliders .noUi-handle,
.cell-viewer-wrapper .clip-sliders .noUi-horizontal .noUi-handle {
  box-shadow: none;
  box-sizing: border-box;
  position: absolute;
  cursor: pointer;
  pointer-events: inherit;
  top: 0px;
  left: 4.94876%;
  z-index: 1;
  margin: 1px 0px 0px;
  width: 12px;
  height: 12px;
  background-color: #0b9aab;
  background-clip: padding-box;
  border: 0px solid transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, border-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, width 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, height 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  overflow: visible;
  outline: none;
}

.cell-viewer-wrapper .clip-sliders .noUi-horizontal {
  height: 2px;
}

.cell-viewer-wrapper .clip-sliders .axis-slider .noUi-horizontal {
  height: 4px;
}

.cell-viewer-wrapper .clip-sliders .noUi-target {
  border: none;
}

.cell-viewer-wrapper .clip-sliders .axis-slider .noUi-handle:before,
.cell-viewer-wrapper .clip-sliders .noUi-handle:before,
.cell-viewer-wrapper .clip-sliders .noUi-handle:after,
.cell-viewer-wrapper .clip-sliders [disabled].axis-slider .noUi-handle:after,
.cell-viewer-wrapper .clip-sliders .noUi-handle:after,
.cell-viewer-wrapper .clip-sliders .axis-slider .noUi-handle:after,
.cell-viewer-wrapper .clip-sliders .noUi-handle:after,
.cell-viewer-wrapper .clip-sliders .noUi-handle:before {
  display: none;
  content: none;
}

.cell-viewer-wrapper .cell-canvas {
  order: 2;
  flex: 10;
  min-width: 50%;
  z-index: 10;
  transition: width .3s;
}

.cell-viewer-wrapper .clip-sliders {
  position: absolute;
  color: #ffffff;
  bottom: 0;
  width: 75%;
  left: 5%;
  display: flex;
}

.cell-viewer-wrapper .clip-sliders .sectionSubHeader {
  flex: 1;
}

.cell-viewer-wrapper .clip-sliders .sectionBody {
  flex: 8;
}

.cell-viewer-wrapper .clip-sliders .sectionBody div {
  color: white;
  text-align: center;
}

.drawer-closed .cell-canvas {
  flex: 1 100%;
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url(imageviewer/font/merriweather-sans-v9-latin-regular.eot);
  /* IE9 Compat Modes */
  src: local("Merriweather Sans"), local("MerriweatherSans-Regular"), url(imageviewer/font/merriweather-sans-v9-latin-regular.eot) format("embedded-opentype"), url(imageviewer/font/merriweather-sans-v9-latin-regular.woff2) format("woff2"), url(imageviewer/font/merriweather-sans-v9-latin-regular.woff) format("woff"), url(imageviewer/font/merriweather-sans-v9-latin-regular.svg) format("svg");
  /* Legacy iOS */
}

/* merriweather-sans-700 - latin */

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: url(imageviewer/font/merriweather-sans-v9-latin-700.eot);
  /* IE9 Compat Modes */
  src: local("Merriweather Sans Bold"), local("MerriweatherSans-Bold"), url(imageviewer/font/merriweather-sans-v9-latin-700.eot) format("embedded-opentype"), url(imageviewer/font/merriweather-sans-v9-latin-700.woff2) format("woff2"), url(imageviewer/font/merriweather-sans-v9-latin-700.woff) format("woff"), url(imageviewer/font/merriweather-sans-v9-latin-700.svg) format("svg");
  /* Legacy iOS */
}

/* overpass-300 - latin */

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url(imageviewer/font/overpass-v2-latin-300.eot);
  /* IE9 Compat Modes */
  src: local("Overpass Light"), local("Overpass-Light"), url(imageviewer/font/overpass-v2-latin-300.eot) format("embedded-opentype"), url(imageviewer/font/overpass-v2-latin-300.woff2) format("woff2"), url(imageviewer/font/overpass-v2-latin-300.woff) format("woff"), url(imageviewer/font/overpass-v2-latin-300.svg) format("svg");
  /* Legacy iOS */
}

/* overpass-600 - latin */

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url(imageviewer/font/overpass-v2-latin-600.eot);
  /* IE9 Compat Modes */
  src: local("Overpass SemiBold"), local("Overpass-SemiBold"), url(imageviewer/font/overpass-v2-latin-600.eot) format("embedded-opentype"), url(imageviewer/font/overpass-v2-latin-600.woff2) format("woff2"), url(imageviewer/font/overpass-v2-latin-600.woff) format("woff"), url(imageviewer/font/overpass-v2-latin-600.svg) format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* Canvas */

canvas#cellViewCanvas {
  width: 100%;
  height: 100%;
}

.clickable:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  #nanogallery2 {
    padding: 1em 0;
  }
}

/*! nouislider - 10.0.0 - 2017-05-28 14:52:48 */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-origin {
  position: absolute;
  height: 0;
  width: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: top .3s,right .3s,bottom .3s,left .3s;
  transition: top .3s,right .3s,bottom .3s,left .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB;
}

.noUi-connect {
  background: #3FB8AF;
  border-radius: 4px;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB;
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-large,
.noUi-marker-sub {
  background: #AAA;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  padding-left: 25px;
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}


/*# sourceMappingURL=bundle.fc0815a6ad3ae20de8c1.css.map*/